<div class="name"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%@product.id%>">Next...</a>
<h1 class="productDescription"><%= @product.description %></h1>
<p class="productInventory"><%= @product.inventory %></p>
<p class="productPrice"><%= @product.price %></p>
